In [8]:
"""
lectura de variable por teclado
y conversion a tipo numerico para operar

"""
num = input("Dame un numero ")
print("Tu numero es", num)
print("Tu numero multiplicado por 5 es", num*5)
"""
lo convertimos a entero
"""
num = int(num)
print("Tu numero multiplicado por 5 es", num*5)

Dame un numero 25
Tu numero es 25
Tu numero multiplicado por 5 es 2525252525
Tu numero multiplicado por 5 es 125

In [9]:
type (num)

int

In [10]:
print (num)

25

In [19]:
num = 25//4
print(num)
type(num)

6

int

In [20]:
num = 25/4
print(num)

6.25

In [22]:
num= 25%3
print(num)

1

In [23]:
nombre = "David"
print(nombre)
type(nombre)

David

str

In [24]:
num = int(input("Dame un numero:"))
mayor = (10>num)
print(mayor)
type(mayor)

Dame un numero:5
True

bool

In [25]:
num = int(input("Dame un numero:"))
mayor = (10>num)
print(mayor)
type(mayor)

Dame un numero:14
False

bool

In [31]:
if (num == 5):
  print ("tu numero es 5")
else:
  print ("tu numerto es diferente de 5")

tu numerto es diferente de 5

In [35]:
if (num != 5):
  print ("tu numero es diferente de 5")
else:
  print ("tu numero es 5")

tu numero es diferente de 5

In [39]:
num = int(input("Dame un numero:"))
if (num >=10 and num <=15):
  print ("Numero entre 10 y 15")
elif (num >15):
  print ("Numero mayor a 15")
else:
  print ("Numero menor a 10")

Dame un numero:18
Numero mayor a 15

In [40]:
num = int(input("Dame un numero:"))
if (num >=10 and num <=15):
  print ("Numero entre 10 y 15")
elif (num >15):
  print ("Numero mayor a 15")
else:
  print ("Numero menor a 10")

Dame un numero:14
Numero entre 10 y 15

In [41]:
num = int(input("Dame un numero:"))
if (num >=10 and num <=15):
  print ("Numero entre 10 y 15")
elif (num >15):
  print ("Numero mayor a 15")
else:
  print ("Numero menor a 10")

Dame un numero:9
Numero menor a 10

In [43]:
lista = range (6)
for i in lista:
  print(i)

0
1
2
3
4
5

In [56]:
lista = range (3, 14)
print(list(lista))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [44]:
lista = range (3,6)
print(list(lista))
print("la lista tiene", len(lista), "elementos")

[3, 4, 5]
la lista tiene 3 elementos

In [45]:
lista=range(3,20,2)
list(lista)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [46]:
nombre = "David"
n_mayus=nombre.upper()
print(n_mayus)
print(nombre[2])
len(nombre)

DAVID
v

5

In [58]:
nombres = (["David", "Hector", "Marcos", "Kevin"])
print(nombres[2])
print(type(nombres))
del nombres[2]
print(nombres)
nombres.insert(3,"Jose")
print(nombres)
print("Para ver la posicion donde se encuentra un valor usamos index, Hector se encentra en la posicion:",nombres.index("Hector"))
print(nombres)
print("Para ver los elemnetos de la poscion 1 a la 2, pongo un 3 al final!", nombres[1:3])
nombres.append("Kevin")
print(nombres)
print("Para ver los elementos de 2 en 2:",nombres[::2])
print("para ver los elementos en orden invertido uso -1:",nombres[::-1])
#para listar una a uno los elemtos de la lista
for i in nombres:
  print(i)

Marcos
<class 'list'>
['David', 'Hector', 'Kevin']
['David', 'Hector', 'Kevin', 'Jose']
Para ver la posicion donde se encuentra un valor usamos index, Hector se encentra en la posicion: 1
['David', 'Hector', 'Kevin', 'Jose']
Para ver los elemnetos de la poscion 1 a la 2, pongo un 3 al final! ['Hector', 'Kevin']
['David', 'Hector', 'Kevin', 'Jose', 'Kevin']
Para ver los elementos de 2 en 2: ['David', 'Kevin', 'Kevin']
para ver los elementos en orden invertido uso -1: ['Kevin', 'Jose', 'Kevin', 'Hector', 'David']
David
Hector
Kevin
Jose
Kevin